@font-face {
  font-family: "Noctado";
  src: url("css/fonts/NOCTADO.otf");
}

@font-face {
  src: url("css/fonts/Louis-George-Cafe.ttf");
  font-family: 'Louis';
}

@font-face {
  src: url("css/fonts/Against-Regular.otf");
  font-family: 'Regular';
}

.modo_claro {
  --background-color: #0e5d6767;
  --border-color: rgba(0, 129, 189, 0.47);
  --header-background: rgba(21, 76, 90, 0.342);
  --border-color-low: rgba(2, 238, 255, 0.148);
  --shadow-color: rgba(0, 10, 210, 0.47);
  --title-font: 'Noctado';
  --text-font: 'Louis';
  --text-color: white;
  --selected-input: #015a60;
  --unselected-input: #00004053;
  --glow-color: rgba(4, 32, 62, 0.863);
  --background-gradient: linear-gradient(300deg, #e9a27c, #e7bba6, #8cb6bc, #0e8992, #0d313a, #0d313a);
}

.modo_oscuro {
  --background-color: #000013da;
  --border-color: rgba(0, 10, 88, 0.47);
  --header-background: rgba(0, 0, 0, 0.295);
  --border-color-low: rgba(36, 2, 255, 0.199);
  --shadow-color: rgba(0, 8, 155, 0.47);
  --title-font: 'Noctado';
  --text-font: 'Louis';
  --text-color: white;
  --selected-input: #00078688;
  --unselected-input: #000013da;
  --glow-color: rgba(4, 32, 62, 0.863);
  --background-gradient: linear-gradient(300deg, #33190b, #4d2d1d, #153236, #093a3d, #0d313a, #0d313a);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  background: var(--background-gradient);
  background-size: 400%;
  animation: gradient-animation 18s ease infinite;
  opacity: 100%;
  background-size: 400% 400%;

  font-family: Arial, Helvetica, sans-serif;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.mainDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto 7vh;
  min-height: 100%;
  min-width: 100%;
}

.centerDiv {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2;
  max-height: 100%;
  min-height: 100%;
  height: 100%;
}

header {
  font-family: Louis;

  grid-column-start: 1;
  grid-column-end: 4;

  display: grid;
  grid-template-columns: 10% repeat(4, 1fr);
  align-items: center;
  text-align: center;

  height: fit-content;
  padding-block: 0.3%;

  border-radius: 16px;
  border: 0.5px solid rgba(255, 255, 255, 0.33);

  background: var(--header-background);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17.3px);
}

header a {
  text-decoration: none;
  font-size: 2em;
}

.headerBtn {
  background: rgba(255, 255, 255, 0.22);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17.3px);
  padding-block: 0.5vw;
  margin-inline: 1.5vw;

  max-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fotoLogo {
  width: 35%;
  vertical-align: middle;
}

#aLogo {
  border-style: none;
  box-shadow: none;
  background: none;
}

footer {
  max-height: fit-content;
  height: fit-content;

  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 4;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#newsletter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: whitesmoke;
  font-family: Noctado;
  text-align: center;
}

.mainDiv a {
  text-decoration: none;
  color: whitesmoke;
}

input, button {
  border: none;

  background: rgba(255, 255, 255, 0.22);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17.3px);
  padding-block: 0.7vw;
}

input:hover, button:hover {
  box-shadow: 0 0 10px 5px var(--glow-color);
}

.boton input value {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}


#boton_modo {
  width: 3vw;
}

h3 {
  color: var(--text-color);
  font-size: 1.5em;
  text-align: center;
}